
body {
  background: #3B4262;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

ul {
  padding: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}

.table {
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 70%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 20px;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
  color: #fff;
}

.score {
  margin-bottom: 0;
  width: 150px;
  height: 114px;
  left: 859px;
  top: 66px;
  text-align: center;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
}

.score__label {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  color: #2A45C2;  
}

.bot__score,
.my__score {
  margin: 0;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  color: #565468;
}

/* game =============================================== */

.game {
  width: 700px;
}

.game__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice {
  margin: 0 20px;
  background: none;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.choice__text {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  color: #fff;
}

.choice img {
  height: 100%;
  border-radius: 50%;
}

.choice:hover img{
  box-shadow: 0px 0px 0px 21px #ffffff0c;
}



/* result =========================================== */

.choices {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  text-transform: uppercase;
}

.winner__pos {
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
}

.play__btn {
  padding: 15px 60px;
  width: 80%;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  color: #3B4262;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  border: none;
}

.choice__wrap {
  width: 300px;
  height: 100%;
}

.chosen {
  width: 100%;
}




@media (max-width: 992px) {
  .table {
    width: 100%;
  }

  .winner__pos {
    font-size: 26px;
  }

  .play__btn {
    padding: 10px 32px;
  }
}

@media (max-width: 920px) {
  .choice__wrap,
  .winner {
    width: 250px;
  }
}

@media (max-width: 768px) {

  .choice {
    position: relative;
    width: 700px;
    flex-wrap: wrap;
  }

  .choice__wrap {
    padding: 0 20px;
    width: 200px;
    flex-basis: 50%;
  }

  .winner {
    position: absolute;
    bottom: 20px;
    height: 200px;
  }

  .choice__text {
    font-size: 16px;
  }

}


@media (max-width: 700px) {

  .container {
    width: 90%;
  }

  .game {
    width: 100%;
  }

  .choice {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 600px) {

  .choice__wrap {
    width: 150px;
  }

  .choice__text {
    font-size: 16px;
  }

  .winner {
    bottom: 20px;
  }
}